.App {
    text-align: center;
}

.special-elite-regular {
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.vt323-regular {
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
}

.charm-regular {
    font-family: "Charm", serif;
    font-weight: 400;
    font-style: normal;
}

.charm-bold {
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
}

.bona-nova-sc-regular {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}

.bona-nova-sc-bold {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
}

.bona-nova-sc-regular-italic {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: italic;
}

.anton-regular-bg {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7em;
    text-shadow: 0 0 10px #b2ebf2;
    /* -webkit-text-stroke: 1px #5e2c81; */
}

.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 500;
    font-style: normal;
}

.cinzel-decorative-header {
    font-family: "Cinzel Decorative", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    -webkit-text-stroke: 1px white;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

.cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}

.fancy-image {
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Adjust size as needed */
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1000;
}

.lightbox-image {
    transform: scale(1.1);
    /* max-width: 90vw;
    max-height: 90vh; */
    transition: transform 0.3s ease-in-out;
    object-fit: contain; /* Maintain aspect ratio */
    margin: auto;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating-image {
    animation: rotate 16s linear infinite; /* 10s for a slow rotation */
    width: 350px; /* Adjust the size as needed */
}

.text-right {
    text-align: right;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.border-3 {
    border-width: 3px !important;
}

.glow {
    color: #acd69b; /* Base color of the text */
    text-align: center;
    animation: glow 2.5s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #e0f7fa, 0 0 10px #80deea, 0 0 15px #4dd0e1;
    }
    100% {
        text-shadow: 0 0 10px #b2ebf2, 0 0 15px #80cbc4, 0 0 20px #4db6ac;
    }
}
